* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark: #181717;
    --primary: #cf8650;
    --dark-gray: #5e5a58;
    --light-gray: #848482;
    --gray: #7c7c7c;
    --light: white;
}

body {
    max-height: 100vh;
    /*View Height*/
    height: 100vh;
    color: var(--light);
    background-color: var(--dark);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    z-index: 100;
}

.header-container {
    box-shadow: 1px 1px 10px var(--primary);
    padding: 2rem 4rem;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    position: relative; 
    width: 100%;
}

header nav a {
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

header nav a:hover {
    color: var(--primary);
}

.select {
    position: absolute;
    background-color: var(--primary);
    height: 3rem;
    width: 5rem;
    z-index: -100;
    border-radius: 5rem;
    left: -1.3rem;
    transition: 0.5s
}

main {
    flex: 1;
    overflow-y: hidden;
    display: flex;
}


.main-container {
    flex: 1;
    display: flex;
}

section {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    padding: 2rem;
    flex: 1
}

.home-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10rem;
}

.right {
    text-align: end;
    font-size: 1.5rem;
}

#about,
#exp,
#contact {
    opacity: 0%;
    display: none;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 4rem;
}

.line {
    height: 30rem;
    width: 0.1rem;
    background-color: var(--primary);
    border-radius: 10rem;
}

.tecs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.tecs img{
    width: 4rem;
}

.about-right,
.about-left {
    width: 50%;
    height: 30rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px var(--primary);
    padding: 2rem;
    border-radius: 0.5rem;
    align-items: center;
}


.about-right p {
    width: 40rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
}

h1{
   color: var(--primary);
}